{%extends 'base.html'%}

{%block title%}
Safety notifications and guidance - TravelSafe
{%endblock%}

{%block content%}
<section>
    <li><a href="crime-hotspots.html">Crime hotspot maps</a></li>
    <li><a href="recent-incidents.html">Recent incident updates</a></li>
    <li><a href="notify-guidance.html">Safety notifications and guidance</a></li>
</ul>
<!-- Add more content specific to real-time alerts here -->
</section>

<section>
<h1>Safety notifications and guidance</h1>
<p>We want to keep you informed. Here are some general safety guidelines and notifications:</p>
   <ul>
    <li><strong>Stay Alert:</strong> Avoid using your phone in crowded areas to minimize the risk of pickpocketing.</li>
    <li><strong>Safe Taxi Practices:</strong> Always verify the taxi company before getting into a cab. Use our app to check registered drivers.</li>
    <li><strong>Beware of Scams:</strong> Be cautious of people offering unsolicited help with ATMs or asking for directions while crowding your space.</li>
    <li><strong>Recent Warning:</strong> Increased reports of theft in shopping districts—keep your belongings secure.</li>
</ul>
<p>Make sure to subscribe to our push notifications for real-time alerts on your mobile device.</p>
</section>



{%endblock%}